* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    color: lightpink;
    text-decoration: none;
}
p {
    font-size: 15px;
}

body {
    background-color: lightpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(96, 135, 221);
justify-content: center;
text-align: center;
}

.header {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    background-color: lightblue;
    color: lightpink; 
    outline: 10px black;
    display: flex;

}
.header ul {
    list-style: none;
}
.header ul li {
    display: inline-block;
    margin-left: 50px;
}
.header h1 {
    display: inline-block;
    font-size: 50px;
}
.About-Me
{
    text-align: center;
   font-size: 100px;
}
