* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 0px;
}

.header {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    background-color: lightblue;
    color: black;
    display: flex;

}
